@tailwind base;
@tailwind components;
@tailwind utilities;

body,
main {
  @apply bg-primary text-accent;
}

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-accent: #f1f5f9;
    --color-content: #f1f5f9;
    --color-inverse-content: #000000;
  }
}

.theme-Dark {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #f1f5f9;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}

.theme-Light {
  --color-primary: #f1f5f9;
  --color-secondary: #ffffff;
  --color-accent: #000000;
  --color-content: #000000;
  --color-inverse-content: #ffffff;
  --color-constant: #000000;
}

.theme-Ember {
  --color-primary: #000000;
  --color-secondary: #fde047;
  --color-accent: #fde047;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}

.theme-Lavender {
  --color-primary: #000000;
  --color-secondary: #a855f7;
  --color-accent: #a855f7;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}

.theme-Emerald {
  --color-primary: #000000;
  --color-secondary: #2fe691;
  --color-accent: #2fe691;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}

.theme-Crimson {
  --color-primary: #000000;
  --color-secondary: #9f2727;
  --color-accent: #9f2727;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}

.theme-Azure {
  --color-primary: #000000;
  --color-secondary: #366cbd;
  --color-accent: #366cbd;
  --color-content: #f1f5f9;
  --color-inverse-content: #000000;
  --color-constant: #000000;
}
